<div class="main-div">

  <h1>Hello w Iman!</h1>
  <h2>Hello w Iman!</h2>
  <h3>Hello w Iman!</h3>
  <h4>Hello w Iman!</h4>
  <h5>Hello w Iman!</h5>
  <h6>Hello w Iman!</h6>
  <p>Hello <strong id="main-strong" >world</strong> <br> I am Iman! </p>

  <label for="test">this is test label</label>
  <input type="text" id="test"> <!-- دریافت اطلاعات ورودی از کاربر-->
  <br> <!--   رفتن به خط بعدی-->

<!--  <span>I am Ali </span>-->
<!--  <span>I am Ali </span>-->
<!--  <span>I am Ali </span>-->
<!--  <span>I am Ali </span>-->
  <div class="second-div">
    <label for="test1">Email</label>
    <input placeholder="Ex: iman@roozbeh.com" type="email" id="test1">
  </div>
  <div>
    <button type="button">Save!</button>
  </div>
</div>
